<% include header.ejs %>



<div class="col-md-4">
<h3>About XRP Mail Bounty</h3>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-info-circle"></i> Why? And how does it work?</h3>
</div>
<div class="panel-body">
<p>Email has made it so easy and inexpensive to send a message that as recipients, most of us are overwhelmed.  Unfortunately, email has no way to prioritize or sort the incoming requests for responses. Inbox management tools help, but they put the burden on the recipient to implement and maintain.  </p>
	
<p>What if your email was sorted for you based on the value of your response? The XRP Mail Bounty asks the sender to assign a value in XRP in the form of a bounty.  If you respond to the email before the bounty expires, you earn the XRP.  You can withdraw it to your wallet or use it to place bounties on the emails you send.  <b>You do not need to register for an account or install anything in order to receive and claim bounties - all you need is Gmail and an XRP Ledger account.</b></p>
<p>All the transactions (bounties), deposits and withdrawals are stored in a database.  You can check your account balance and XRP can be securely withdrawn or deposited at any time at http://mail-bounty.com.</p>
<p>Currently XRP Mail Bounty only works on Gmail.</p>
</div>
</div>
</div>


<div class="col-md-8">
	
<div class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">Step 1: Installing the Extension</h3>
</div>
<div class="panel-body">
<p>To send bounties, you must use Gmail on Chrome.  Install the Google Chrome Extension.</p>
</div>
</div>


<div class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">Step 2: Funding your Account</h3>
</div>
<div class="panel-body">
<p>
Refresh your Gmail tab and you'll new see a new button in the upper left.  Click this button to see your account balance. Follow the links to deposit XRP. You'll need to have an XRP Ledger Account with a balance of XRP you can transfer into your account.</p>
</div>
</div>

<div class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">Step 3: Placing a Bounty</h3>
</div>
<div class="panel-body">

<p>Open a new email in your Gmail. You'll see a small button next to the send button. Click this button and you'll be prompted to enter an amount and expiration window for the bounty.  Click Add Bounty button.  Your email will now include a line of text indicating to the recipient that they'll receive XRP for responding.</p>

</div>
</div>


<div class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">Step 4: Paying or Claiming the Bounty</h3>
</div>
<div class="panel-body">

<p>The bounty won't be issued until the response is opened then will automatically will be paid. The original sender's account balance will be decrease and the responder's will increase by the amount of the bounty (no transaction fee 🎉).</p>

</div>
</div>
</div>



<% include footer.ejs %>