<% include header.ejs %>

<div class="col-md-8">

<h3>About XRP Mail Bounty</h3>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-info-circle"></i>Why? And how does it work?</h3>
</div>
<div class="panel-body">
<p>Email has made it so easy and inexpensive to send a message that as recipients, most of us are overwhelmed.  Unfortunately, email was not built with a mechnanism to prioritize the incoming requests for our attention and responses. Inbox management tools can help, but they put the burden on the recipient to implement and maintain.  </p>
	
<p>But, what if you could organize your mail based on the value of your response? XRP Mail Bounty asks the sender to assign a value in XRP in the form of a bounty.  If you respond to the email before the bounty expires, you earn the XRP.  You can withdraw it to your wallet or use it to place bounties on the emails you send.  <b>You do not need to register for an account or install anything in order to receive and claim bounties - all you need is Gmail and an XRP Ledger account.</b></p>
<p>All the transactions (bounties), deposits and withdrawals are stored in a database.  You can check your account balance and XRP can be securely withdrawn or deposited at any time at http://mail-bounty.com.</p>
<p>Currently XRP Mail Bounty only works on Gmail.</p>
</div>
</div>
</div>


<div class="col-md-4">
<div class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">Placing Bounties</h3>
</div>
<div class="panel-body">
<p>
To start using XRP Mail Bounty to send bounties, you must install a Google Chrome Extension.  Currently, to send bounties, you must be using Gmail on a Chrome Browser.  </p>

<p>To install follow this link and the instructions to install the Chrome Extension.</p>

<p>Refresh your Gmail tab or restart your browser and you'll see a new button in the upper left that looks like this [insert image here].  Click this to see your account balance and follow the links to make a deposit XRP.  You'll need to have an XRP Ledger Account with a balance of XRP you can transfer in before you can send bounties.</p>

<p>Once your balance is positive, you can place a bounty in the Compose View of Gmail.  You'll see a small button [image here] next to the send button.  Click this button and you'll be prompted to enter an amount and expiration window for the bounty.  Click Add Bounty.  Your email will now include a line of text indicating to the recipient that they'll receive XRP for responding quickly.</p> 

<p>The bounty won't be issued until you open their response.  At that point, the bounty will be paid and your account balance will be decrease and the responder's will increase by the amount of the bounty (no transaction fee 🎉).</p>


</div>
</div>
</div>



<% include footer.ejs %>