<% include header.ejs %>

<div class="col-md-8">

<h3>About XRP Mail Bounty</h3>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-info-circle"></i> Why? And how does it work?</h3>
</div>
<div class="panel-body">
<p>Email has made it so easy and inexpensive to send a message that as recipients, most of us are overwhelmed.  Unfortunately, email has no way to prioritize or sort the incoming requests for responses. Inbox management tools help, but they put the burden on the recipient to implement and maintain.  </p>
	
<p>What if your email was sorted for you based on the value of your response? The XRP Mail Bounty asks the sender to assign a value in XRP in the form of a bounty.  If you respond to the email before the bounty expires, you earn the XRP.  You can withdraw it to your wallet or use it to place bounties on the emails you send.  <b>You do not need to register for an account or install anything in order to receive and claim bounties - all you need is Gmail and an XRP Ledger account.</b></p>
<p>All the transactions (bounties), deposits and withdrawals are stored in a database.  You can check your account balance and XRP can be securely withdrawn or deposited at any time at http://mail-bounty.com.</p>
<p>Currently XRP Mail Bounty only works on Gmail.</p>
</div>
</div>
</div>




<div class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">Installing the Extension</h3>
</div>
<div class="panel-body">
<p>Currently, to send bounties, you must be using Gmail on a Chrome Browser.  To get setup to send bounties, you must install this Google Chrome Extension.</p>

</div>
</div>


<div class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">Funding your Account</h3>
</div>
<div class="panel-body">
<p>
Once the extension is installed, you'll see a new button in the upper left that looks like this [insert image here].  Click this to see your account balance and follow the links to make a deposit XRP.  You'll need to have an XRP Ledger Account with a balance of XRP you can transfer in before you can send bounties.</p>

</div>
</div>
</div>



<div class="col-md-4">
<div class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">Placing a Bounty</h3>
</div>
<div class="panel-body">

<p>Once you've got the extension installed, open a new email.  You'll see a small button [image here] next to the send button.  Click this button and you'll be prompted to enter an amount and expiration window for the bounty.  Click Add Bounty button.  Your email will now include a line of text indicating to the recipient that they'll receive XRP for responding quickly.</p>

</div>
</div>


<div class="col-md-4">
<div class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">Paying / Claiming the Bounty</h3>
</div>
<div class="panel-body">

<p>The bounty won't be issued until the response is opened. When opened, the bounty will automatically will be paid. The original sender's account balance will be decrease and the responder's will increase by the amount of the bounty (no transaction fee 🎉).</p>

</div>
</div>



<% include footer.ejs %>