<% include header.ejs %>

<ul class="nav navbar-nav navbar-right">
<li class=""><a href="/login">
<i class="fa fa-user" aria-hidden="true"></i>
Login
</a></li>
</ul>
</div>
</div>
</nav>
<div class="container">
<h3>
Login
</h3>
<p class="well text-center">
<i class="fa fa-lock"></i>
<b>To access this site you need to login</b>
</p>
<p class="text-left">
To login, you will be redirected to Google. When you login and accept, we know who you are (we will receive and only store your verified Gmail address).
</p>
<div class="text-right">
<a href="/login" class="btn btn-lg btn-success">
<i class="fa fa-reddit-alien" aria-hidden="true"></i> Login
</a>
</div>
<hr />
<div class="row">
<div class="col-sm-4 text-center">
<script src="https://cdn.jsdelivr.net/npm/davidshimjs-qrcodejs@0.0.2/qrcode.min.js"></script>
<style>
                        div.qr { display: block }
                        div.qr img { max-width: 100%; height: auto; }
                    </style>
<div id="qrcode999" class="qr" style="display: inline-block; width: 150px; height: 150px;"></div>
<script type="text/javascript">
                        new QRCode(document.getElementById("qrcode999"), "rPdvC6ccq8hCdPKSPJkPmyZ4Mi1oG2FFkT");
                    </script>
</div>
<div class="col-sm-8 text-center">
XRP Wallet Address<br />
<code><b>rPdvC6ccq8hCdPKSPJkPmyZ4Mi1oG2FFkT</b></code>
<br /><span class="text-muted">Destination Tag not required</span>
<br /><br />
<b>Thank you very (very very) much!</b>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="text-center">
<small class="text-muted">
&dash;
<a href="/about">About (more information, security, support)</a>
&dash;
<a href="https://github.com/..." target="_blank">Source</a>
</small>
<br />&nbsp;
</div>
</div> 


<script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>